<a href="https://colab.research.google.com/github/odevhesabi1/Odevler/blob/main/A_03_DataCleaningMissingValues_tr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

imBu ödevde [ABD Eğitim Sistemi](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home)'ne  ait bir takım verileri inceleyeceksiniz. Öncelikle [veri kümesini](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home) Kaggle'dan indirin. Burada eğitim sistemine ait bir çok veri kümesi bulunmaktadır. Bu ödevde [**'states_all.csv'**](https://drive.google.com/open?id=1jbMrKbjMhQeG8xHUc8IFlOU1z-Eh3abc)  isimli veri kümesini kullanacaksınız. 

Bu ödevi tamamlamak için, aşağıdaki soruların çözümlerini içeren Jupyter notebook dosyasının Github linkini gönderin. Kafanıza takılan konuları mentörünüzle konuşabilir ya da ofis saatinde Slack üzerinden sorabilirsiniz.

1. Veri kümesinde yer alan değişkenlerinin tiplerini ve her bir değişkenin eksik (null) değer oranını bulun.

2. Verimizde yıl (year) sütunu olduğunu farketmişsinizdir. Şimdilik yıl verisini unutun ve her bir gözlemin aynı yıl içerisinde yapıldığını farz edin. Her bir değişken için eksik değerleri nasıl doldurabileceğinizi düşünün. Eksik değerleri bir değerle doldurmak  hangi değişkenler için anlamlı, hangileri için anlamsızdır?

3. Şimdi zaman faktörünü dikkate alma zamanı! 2. sorudaki cevabınızı tekrar gözden geçirin ve eksik verileri o yıl içerisinde gözlemlenen değerlere dayanarak doldurun. Örneğin, bir değeri ortalama değer ile doldurmak isterseniz, o yılın ortalamasını hesaplayın.

4. Bu sefer, eksik değerleri enterpolasyon yaparak doldurun.

5. İkinci, üçüncü ve dördüncü sorulardaki cevaplarınızı karşılaştırın. Anlamlı bir fark görebiliyor musunuz?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv("states_all.csv")

In [2]:
#CEVAP-2: Sayısal verilerin uygun şekilde değerlerlendirilip, eksik verilerin doldurulabileceğin düşünüyorum. Yılları çıkarıp düşündüğümüzde, elimizde aynı eyalet için yıl sayısı kadar gözlem
#kalmış olacaktır. Cevaplar buna göre verilmiştir.

#Kategorik değişkenler için boşlukları doldurmazdım. Bu satırları muhtemelen veriden çıkarırdım.

#ENROLL KOLONU İÇİN: Gözüme çarplan outliner değerler olup olmadıgına bakıp, varyansı kontrol ederim. Varyans küçükse hem outliner olmadığını düşünürüm, hemde enroll sayılarının çok değiş-
#mediğine kadar veriririm. Bu kolonda boş değerlerin MEAN ile doldurulabileceğini düşünyorum. 
#Buradan varyans kullanırım dedim ama varyans iki farklı değişkenin birbirine göre ilişkisini mi veriyordu yoksa aynı değişkenin farklı gözlemleri içinde geçerli mi bilmiyorum. Eğer yan-
#lışsam Standart Sapma kullanırdım. İkisinin farkından ve birbirlerinin yerine geçip geçmeyeceğinden emin değilim. Sanırım varyans küçükse veriler belirli bir noktada toplanmaya eğilimli
#ve outliner değerlerimiz az demektir. Bu noktadan sonra boş bir değer için ben direkt olarak duruma göre mean, median ya da mod'u kullanırdım. Eğer standart sapmayı kullanıp boşlukları
#doldurmak istersemde, kolonun ortalamasını standrt sapma ile çarpıp, boşluk değerlerin çıkan sonuç kadar ortalamadan yukarı ya da aşağı oldugunu düşünüp o aralıkta rastgele bir değer
#verirdim.

#Bunu AVG_MATH_score kolonu hariç diğer kolonlar için uygulardım. Math_score kolonları için outliner değerlerim olabilir. Varyansi ve STD'yi kontrol ederim.Burada ortalamayı almak yerine
#MEDIAN'ı alırdım. Çünkü ders notların outliner değerler olabilir ve bunlar bu tür durumlarda hariç tutulmak yerine dikkate alınmalıdır.
#

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [4]:
df[1000:1005]

              PRIMARY_KEY  ... AVG_READING_8_SCORE
1000      2011_NEW_MEXICO  ...               256.0
1001        2011_NEW_YORK  ...               266.0
1002  2011_NORTH_CAROLINA  ...               263.0
1003    2011_NORTH_DAKOTA  ...               269.0
1004            2011_OHIO  ...               268.0

[5 rows x 25 columns]

In [5]:
#Her bir değişkendeki eksik verilerin oranı

df.isnull().sum() * 100 / df.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

In [6]:
#CEVAP-2: Sayısal verilerin uygun şekilde değerlerlendirilip, eksik verilerin doldurulabileceğin düşünüyorum. Yılları çıkarıp düşündüğümüzde, elimizde aynı eyalet için yıl sayısı kadar gözlem
#kalmış olacaktır. Cevaplar buna göre verilmiştir.

#Kategorik değişkenler için boşlukları doldurmazdım. Bu satırları muhtemelen veriden çıkarırdım.

#ENROLL KOLONU İÇİN: Gözüme çarplan outliner değerler olup olmadıgına bakıp, varyansı kontrol ederim. Varyans küçükse hem outliner olmadığını düşünürüm, hemde enroll sayılarının çok değiş-
#mediğine kadar veriririm. Bu kolonda boş değerlerin MEAN ile doldurulabileceğini düşünyorum. 
#Buradan varyans kullanırım dedim ama varyans iki farklı değişkenin birbirine göre ilişkisini mi veriyordu yoksa aynı değişkenin farklı gözlemleri içinde geçerli mi bilmiyorum. Eğer yan-
#lışsam Standart Sapma kullanırdım. İkisinin farkından ve birbirlerinin yerine geçip geçmeyeceğinden emin değilim. Sanırım varyans küçükse veriler belirli bir noktada toplanmaya eğilimli
#ve outliner değerlerimiz az demektir. Bu noktadan sonra boş bir değer için ben direkt olarak duruma göre mean, median ya da mod'u kullanırdım. Eğer standart sapmayı kullanıp boşlukları
#doldurmak istersemde, kolonun ortalamasını standrt sapma ile çarpıp, boşluk değerlerin çıkan sonuç kadar ortalamadan yukarı ya da aşağı oldugunu düşünüp o aralıkta rastgele bir değer
#verirdim.

#Bunu AVG_MATH_score kolonu hariç diğer kolonlar için uygulardım. Math_score kolonları için outliner değerlerim olabilir. Varyansi ve STD'yi kontrol ederim.Burada ortalamayı almak yerine
#MEDIAN'ı alırdım. Çünkü ders notların outliner değerler olabilir ve bunlar bu tür durumlarda hariç tutulmak yerine dikkate alınmalıdır.
#

In [7]:
list1 = df.PRIMARY_KEY.unique()

for element in list1:
  if df[df["PRIMARY_KEY"]== element ].ENROLL.isnull() == True:
    mean=df[df["PRIMARY_KEY"]== element ].ENROLL
    df[df["PRIMARY_KEY"]== element ].ENROLL.fillna()


### Bu soru ve sonrakileri yapamadım Emre Hocam, bunlara beraber bakabilir miyiz.

SyntaxError: ignored